* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  list-style: none;
}

header {
  padding-top: 4rem;
  text-align: center;
  height: 100vh;
}

header #navbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(163, 163, 163, 0.3);
  transform: translateX(0px);
}

header #navbar ul {
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}

header #navbar li {
  display: inline-block;
  margin: 10px;
  width: 20%;
}

header #navbar li a {
  color: gray;
}

header #navbar li a:hover {
  color: rgba(232, 152, 66, 1);
  transition-property: color;
  transition-duration: 0.5s;
  font-weight: bold;
}

header #nav-Btn {
  display: none;
}

/* nav mediaQuery */

@media screen and (max-width: 720px) {
  header {
    padding-top: 0;
  }

  header #navbar {
    width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    background-color: rgb(205, 203, 203, 0.9);
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    transform: translateX(-200px);
  }
  header #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  header #navbar li a {
    display: block;
    color: black;
  }

  header #main-intro {
    transform: translateY(10rem);
    margin-top: 0rem;
  }

  header #nav-Btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    padding: 1rem 1rem 0 1rem;
    cursor: pointer;
  }
}

header #main-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
}

header #main-intro span {
  background: linear-gradient(to right top, #ff6d2e 0%, #ec9f05 74%);
  color: transparent;
  -webkit-background-clip: text;
}

header #main-intro h2 {
  margin-top: 1rem;
  font-size: 2rem;
  width: 75%;
}

header #main-intro img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

header #main-intro h2 {
  padding-bottom: 2rem;
}

header #main-intro p {
  color: black;
}

header #scroll-pointer {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 90%;
  animation-name: changeHeight;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeHeight {
  from {
    margin-top: 2rem;
  }
  to {
    margin-top: 3rem;
  }
}

/* ----------------main----------------------- */

/* profile */

main #profile {
  height: 100vh;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

main #profile .profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

main #profile .profile-box .title {
  margin-bottom: 7rem;
  font-size: 2rem;
  background: linear-gradient(to right top, #ff6d2e 0%, #ec9f05 74%);
  color: transparent;
  -webkit-background-clip: text;
}

main #profile h2 {
  padding: 1rem;
}

main #profile p {
  margin-top: 2rem;
  color: gray;
  font-size: 1rem;
  font-weight: lighter;
}

main #profile ul {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

main #profile li {
  display: inline;
  color: #f57f17;
  margin: 0rem 2rem;
}

main #profile .profile-box-feature {
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
}

main .fab {
  color: black;
  font-weight: 500;
}

main .fab:hover {
  color: rgba(232, 152, 66, 1);
  transition-property: color;
  transition-duration: 0.5s;
  font-weight: bold;
}

/* Introduction */

main #introductions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 0;
  width: 100%;
  background-image: url(./image/mitchell-luo-zWysbA3BhZg-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

main #introductions article {
  border-radius: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  width: 60%;
  margin: 5rem 0 5rem 0;
}

article h2 {
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
  color: rgb(85, 85, 85);
}

article .contents-box ul {
  display: flex;
  margin: 1rem 0 3rem 0;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

article .contents-box li {
  text-align: center;
}

article .contents-box i {
  margin-top: 1rem;
  font-size: 3.5rem;
  display: block;
  text-align: center;
}

article .contents-box {
  padding: 1rem 1rem 0 1rem;
}

article .contents-box p {
  text-align: center;
  margin-top: 1rem;
  padding: 2rem;
}

@media screen and (max-width: 720px) {
  main #introductions article {
    width: 90%;
  }
}

/* portfolio */

main #portfolio {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  height: 100vh;
}

main #portfolio .portfolio-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main #portfolio .portfolio-box p {
  position: absolute;
  margin-top: 5rem;
  color: black;
  animation-name: changeSize;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeSize {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 2rem;
    color: salmon;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(163, 163, 163, 0.5);
  border-top: solid 0.5px rgba(163, 163, 163, 0.3);
  height: 5rem;
  width: 100%;

  font-size: 0.7rem;
}
