/* profile */

main #profile {
  height: 100vh;
  width: 56%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main #profile h2 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.profile-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: stretch;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: -1.2rem;
  margin-top: 4.5rem;
}

.contents {
  display: flex;
  height: 100%;
  align-self: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 5rem;
}

#profile img {
  width: 200px;
  height: 260px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main #profile h3 {
  padding: 1rem;
}

main #profile p {
  color: gray;
  font-size: 1rem;
  font-weight: lighter;
}

main #profile ul {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 4rem 0;
}

main #profile li {
  display: inline;
  color: #f57f17;
  margin: 0rem 2rem;
}

main #profile .profile-box-feature {
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}

main .fab {
  color: black;
  font-weight: 500;
}

main .fab:hover {
  color: rgba(232, 152, 66, 1);
  transition-property: color;
  transition-duration: 0.5s;
  font-weight: bold;
}

@media screen and (max-width: 860px) {
  main #profile {
    width: 85%;
  }

  main #profile h2 {
    margin-left: 1rem;
    margin: 1rem 0 4rem 0.5rem;
  }

  .profile-box {
    flex-direction: column;
    width: 100%;
    margin-left: 0.5rem;
    align-items: center;
  }

  .contents {
    margin-left: 0;
    align-self: center;
  }

  .info {
    margin-top: 0;
  }

  .contents p {
    margin-bottom: 1rem;
  }

  main #profile ul {
    margin: 2rem 0;
  }

  main #profile .profile-box-feature {
    font-size: 1rem;
  }
}
